{% extends 'base.html.twig' %}
{% block title %}History{% endblock %}
{% block content %}

    <section class="about">
        <div class="container">
            <div class="row content">
                <div class="col-lg-12" style="margin-top: 35px;margin-bottom: 35px;">
                    <h2>History of queries </h2>
                </div>
                <div class="col-lg-12">
                    <table id="data-table">
                        <thead>
                        <tr>
                            <th>Ciudad</th>
                            <th>Pais</th>
                            <th>Humedad</th>
                            <th>Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                            <tr>
                                <td>{{ item.city }}</td>
                                <td>{{ item.city.county }}</td>
                                <td>{{ item.humidity }}%</td>
                                <td>{{ item.createdAt|date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}