{% extends 'base.html.twig' %}
{% block title %}Map{% endblock %}
{% block content %}

    <section class="about">
        <div class="container">
            <div class="row content">
                <div class="col-lg-12" style="margin-top: 35px;margin-bottom: 35px;">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-9 form-group">
                            {{ form_row(form.city, {attr:{
                                'class': 'form-control'
                            }}) }}
                        </div>
                        <div class="col-md-3 centerButton">
                            <input class="btn btn-danger"  type="submit" value="Buscar" style="margin-top: 12px;">
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="member d-flex align-items-start">
                                <div class="member-info">
                                    <h4>
                                        {% if data.city %}
                                            {{ data.city.name }}
                                        {% else %}
                                            No city selected
                                        {% endif %}
                                    </h4>
                                    <span>latitude : {{ data.latitude }}</span>
                                    <span>longitude: {{ data.longitude }}</span>
                                    <span>humidity : {{ data.humidity }}%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div id="map" class="map"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block myScripts %}
    <script>
        let latitude = '{{ data.latitude }}'
        let longitude = '{{ data.longitude }}'
        let zoom = 5;
        if (!latitude && !longitude) {
            latitude = 37.09024;
            longitude = -95.712891;
            zoom = 4;
        }
        const map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([longitude, latitude]),
                zoom: zoom
            })
        });
        const  layer = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: [
                    new ol.Feature({
                        geometry: new ol.geom.Point(ol.proj.fromLonLat([longitude, latitude]))
                    })
                ]
            })
        });

        if (latitude && longitude) {
            map.addLayer(layer);
        }

    </script>
{% endblock %}