@import "~datatables/media/css/jquery.dataTables.min.css";
@import "~bootstrap/dist/css/bootstrap.css";

.btn-send{
    background: #d9232d;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.centerButton{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
}