<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="{{ path('map') }}">Mainsoft Ltda</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{{ path('map') }}">Map</a></li>
                <li><a href="{{ path('record-index') }}">History</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->